@import url("https://fonts.googleapis.com/css?family=Baskervville|Roboto+Condensed|Roboto+Mono|Roboto:400,500,700,900&display=swap");

// Column Grid - mobile
[class*="col-"] {
  width: 100%;
}

// Column Grid - tablet/desktop
@media (min-width: 768px) {
  .col-1 {
    width: 5.583333333333333%;
  }
  .col-2 {
    width: 14.16666666666667%;
  }
  .col-3 {
    width: 22.75%;
  }
  .col-4 {
    width: 31.33333333333333%;
  }
  .col-5 {
    width: 39.91666666666667%;
  }
  .col-6 {
    width: 48.5%;
  }
  .col-7 {
    width: 57.08333333333333%;
  }
  .col-8 {
    width: 65.66666666666666%;
  }
  .col-9 {
    width: 74.25%;
  }
  .col-10 {
    width: 82.83333333333333%;
  }
  .col-11 {
    width: 91.41666666666666%;
  }
  .col-12 {
    width: 100%;
  }
}

.container-sm {
  padding: 64px 7.5%;

  @media (min-width: 768px) {
    padding: 80px 10%;
  }

  @media (min-width: 1024px) {
    padding: 80px 12%;
  }

  @media (min-width: 1280px) {
    padding: 80px 15%;
  }
}

.container-md {
  padding: 40px 7.5%;

  @media (min-width: 768px) {
    padding: 64px 10%;
  }

  @media (min-width: 1024px) {
    padding: 96px 12%;
  }

  @media (min-width: 1280px) {
    padding: 120px 15%;
  }
}

.container-lg {
  padding: 72px 7.5% 0;

  @media (min-width: 768px) {
    padding: 96px 10% 0;
  }

  @media (min-width: 1024px) {
    padding: 120px 12% 0;
  }

  @media (min-width: 1280px) {
    padding: 160px 15% 0;
  }
}

.container-footer {
  padding: 28px 7.5%;

  @media (min-width: 768px) {
    padding: 32px 10%;
  }

  @media (min-width: 1024px) {
    padding: 36px 12%;
  }

  @media (min-width: 1280px) {
    padding: 40px 15%;
  }
}

// Text styles
h1 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.375em;
  color: var(--white);
  margin: 0;
}

h2 {
  font-family: "Baskerville";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--white);
  margin: 0;
}

h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 120%;
  color: var(--grayLight);
  margin-bottom: 24px;
}

h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: var(--grayDark);
  margin-bottom: 16px;
}

h6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: var(--gray);
  margin-bottom: 4px;
}

p {
  font-family: "Baskerville";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  color: var(--grayDark);
}

.role p,
.info p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: var(--grayDark);
}

.button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 16px;
  line-height: normal;
  color: var(--grayDark);
}

.copyright {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: var(--gray);
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

@media (min-width: 768px) {
  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 28px;
    margin-bottom: 0;
  }

  .button {
    font-size: 18px;
  }

  .copyright {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: 96px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 24px;
  }

  p {
    font-size: 24px;
  }

  .copyright {
    font-size: 16px;
  }
}
